@use 'base/variables' as v;

.alerta {
    padding: calc(v.$separacion / 4);
    color: v.$blanco;
    width: 100%;
    display: block;
    margin-bottom:1.7rem;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;

    // Cuando esté presente error, entonces (if)
    &.error {
        background-color: v.$rojo;
     }

    // Cuando esté presente exito, entonces (if)
    &.exito {
        background-color: v.$verde;
    }
}


